div
  style(scoped).
    .button-xsmall {
      font-size: 70%;
    }

    .button-small {
      font-size: 85%;
    }

    .button-large {
      font-size: 110%;
    }

    .button-xlarge {
      font-size: 125%;
    }
  button.button-xsmall.pure-button Extra Small Button
  button.button-small.pure-button Small Button
  button.pure-button Regular Button
  button.button-large.pure-button Large Button
  button.button-xlarge.pure-button Extra Large Button