.pure-menu.pure-menu-horizontal
  a.pure-menu-heading.pure-menu-link(href="#") BRAND
  ul.pure-menu-list
    li.pure-menu-item: a.pure-menu-link(href="#") News
    li.pure-menu-item: a.pure-menu-link(href="#") Sports
    li.pure-menu-item: a.pure-menu-link(href="#") Finance