.pure-menu.pure-menu-horizontal.pure-menu-scrollable
  a.pure-menu-link.pure-menu-heading(href="#") Yahoo
  ul.pure-menu-list
    li.pure-menu-item: a.pure-menu-link(href="#") Home
    li.pure-menu-item: a.pure-menu-link(href="#") Flickr
    li.pure-menu-item: a.pure-menu-link(href="#") Messenger
    li.pure-menu-item: a.pure-menu-link(href="#") Sports
    li.pure-menu-item: a.pure-menu-link(href="#") Finance
    li.pure-menu-item: a.pure-menu-link(href="#") Autos
    li.pure-menu-item: a.pure-menu-link(href="#") Beauty
    li.pure-menu-item: a.pure-menu-link(href="#") Movies
    li.pure-menu-item: a.pure-menu-link(href="#") Small Business
    li.pure-menu-item: a.pure-menu-link(href="#") Cricket
    li.pure-menu-item: a.pure-menu-link(href="#") Tech
    li.pure-menu-item: a.pure-menu-link(href="#") World
    li.pure-menu-item: a.pure-menu-link(href="#") News
    li.pure-menu-item: a.pure-menu-link(href="#") Support