style.
  .custom-restricted-width {
  /* To limit the menu width to the content of the menu: */
  display: inline-block;
  /* Or set the width explicitly: */
  /* width: 10em; */
  }
.pure-menu.custom-restricted-width
  span.pure-menu-heading Yahoo Sites
  ul.pure-menu-list
    li.pure-menu-item: a.pure-menu-link(href="#") Flickr
    li.pure-menu-item: a.pure-menu-link(href="#") Messenger
    li.pure-menu-item: a.pure-menu-link(href="#") Sports
    li.pure-menu-item: a.pure-menu-link(href="#") Finance
    li.pure-menu-heading More Sites
    li.pure-menu-item: a.pure-menu-link(href="#") Games
    li.pure-menu-item: a.pure-menu-link(href="#") News
    li.pure-menu-item: a.pure-menu-link(href="#") OMG!