.pure-menu.custom-restricted-width
  ul.pure-menu-list
    li.pure-menu-item.pure-menu-selected: a.pure-menu-link(href="#") Flickr
    li.pure-menu-item: a.pure-menu-link(href="#") Messenger
    li.pure-menu-item: a.pure-menu-link(href="#") Sports
    li.pure-menu-item: a.pure-menu-link(href="#") Finance
    li.pure-menu-item.pure-menu-has-children
      a#menuLink1.pure-menu-link(href="#") More
      ul.pure-menu-children
        li.pure-menu-item: a.pure-menu-link(href="#") Autos
        li.pure-menu-item: a.pure-menu-link(href="#") Flickr
        li.pure-menu-item.pure-menu-has-children
          a#menuLink1.pure-menu-link(href="#") Even More
          ul.pure-menu-children
            li.pure-menu-item: a.pure-menu-link(href="#") Foo
            li.pure-menu-item: a.pure-menu-link(href="#") Bar
            li.pure-menu-item: a.pure-menu-link(href="#") Baz