.grids-unit.pure-g
  .grids-unit-width.pure-u 1-5
  .grids-unit-details.pure-u-1
    .pure-g
      .grids-unit-bar.pure-u-1-5

.grids-unit.pure-g
  .grids-unit-width.pure-u 2-5
  .grids-unit-details.pure-u-1
    .pure-g
      .grids-unit-bar.pure-u-2-5

.grids-unit.pure-g
  .grids-unit-width.pure-u 3-5
  .grids-unit-details.pure-u-1
    .pure-g
      .grids-unit-bar.pure-u-3-5

.grids-unit.pure-g
  .grids-unit-width.pure-u 4-5
  .grids-unit-details.pure-u-1
    .pure-g
      .grids-unit-bar.pure-u-4-5

.grids-unit.pure-g
  .grids-unit-width.pure-u 1
  .grids-unit-details.pure-u-1
    .pure-g
      .grids-unit-bar.pure-u-1

.grids-unit.pure-g
  .grids-unit-width.pure-u 1-1
  .grids-unit-details.pure-u-1
    .pure-g
      .grids-unit-bar.pure-u-1-1

.grids-unit.grids-unit-not-reduced.pure-g
  .grids-unit-width.pure-u 5-5
  .grids-unit-details.pure-u-1
    .pure-g
      .grids-unit-bar.pure-u-5-5
