form.pure-form
  label.pure-checkbox(for="option-one")
    input#option-one(type="checkbox" value="")
    | Here's option one.
  label.pure-radio(for="option-two")
    input#option-two(type="radio" name="optionsRadios" value="option1" checked)
    | Here's a radio button. You can choose this one..
  label.pure-radio(for="option-three")
    input#option-three(type="radio" name="optionsRadios" value="option2")
    | ..Or this one!