form.pure-form
  fieldset.pure-group
    input.pure-input-1-2(type="text" placeholder="Username")
    input.pure-input-1-2(type="text" placeholder="Password")
    input.pure-input-1-2(type="email" placeholder="Email")
  fieldset.pure-group
    input.pure-input-1-2(type="text" placeholder="A title")
    textarea.pure-input-1-2(placeholder="Textareas work too")
  button.pure-button.pure-input-1-2.pure-button-primary(type="submit") Sign in