table.pure-table.pure-table-bordered
  thead
    tr
      th #
      th Make
      th Model
      th Year
  tbody
    tr
      td 1
      td Honda
      td Accord
      td 2009
    tr
      td 2
      td Toyota
      td Camry
      td 2012
    tr
      td 3
      td Hyundai
      td Elantra
      td 2010