table.pure-table
  thead
    tr
      th #
      th Make
      th Model
      th Year
  tbody
    tr.pure-table-odd
      td 1
      td Honda
      td Accord
      td 2009
    tr
      td 2
      td Toyota
      td Camry
      td 2012
    tr.pure-table-odd
      td 3
      td Hyundai
      td Elantra
      td 2010
    tr
      td 4
      td Ford
      td Focus
      td 2008
    tr.pure-table-odd
      td 5
      td Nissan
      td Sentra
      td 2011
    tr
      td 6
      td BMW
      td M3
      td 2009
    tr.pure-table-odd
      td 7
      td Honda
      td Civic
      td 2010
    tr
      td 8
      td Kia
      td Soul
      td 2010