/*
@title: Default Buttons
@pug: components/buttons/default_buttons.pug
@description: buttonサンプル
@tags: component,button
*/

/*
@title: Disabled Buttons
@pug: components/buttons/disabled_buttons.pug
@description: buttonサンプル
@tags: component,button
*/

/*
@title: Active Buttons
@pug: components/buttons/active_buttons.pug
@description: buttonサンプル
@tags: component,button
*/

/*
@title: Primary Buttons
@pug: components/buttons/primary_buttons.pug
@description: buttonサンプル
@tags: component,button
*/

/*
@title: Customizing Buttons
@pug: components/buttons/customizing_buttons.pug
@description: buttonサンプル
@tags: component,button
*/

/*
@title: Buttons with different Sizes
@pug: components/buttons/buttons_with_different_sizes.pug
@description: buttonサンプル
@tags: component,button
*/

/*
@title: Buttons with Icons
@pug: components/buttons/buttons_with_icons.pug
@description: buttonサンプル
@tags: component,button
*/
