/*
@title: Default Form
@pug: components/forms/default_form.pug
@description: formサンプル
@tags: component,form
*/

/*
@title: Stacked Form
@pug: components/forms/stacked_form.pug
@description: formサンプル
@tags: component,form
*/

/*
@title: Aligned Form
@pug: components/forms/aligned_form.pug
@description: formサンプル
@tags: component,form
*/

/*
@title: Multi-Column Form
@pug: components/forms/multi-column_form.pug
@description: formサンプル
@tags: component,form
*/

/*
@title: Grouped Inputs
@pug: components/forms/grouped_inputs.pug
@description: formサンプル
@tags: component,form
*/

/*
@title: Input Sizing
@pug: components/forms/input_sizing.pug
@description: formサンプル
@tags: component,form
*/

/*
@title: Required Inputs
@pug: components/forms/required_inputs.pug
@description: formサンプル
@tags: component,form
*/

/*
@title: Disabled Inputs
@pug: components/forms/disabled_inputs.pug
@description: formサンプル
@tags: component,form
*/

/*
@title: Read-Only Inputs
@pug: components/forms/read-only_inputs.pug
@description: formサンプル
@tags: component,form
*/

/*
@title: Rounded Inputs
@pug: components/forms/rounded_inputs.pug
@description: formサンプル
@tags: component,form
*/