/*
@title: Vertical Menu
@pug: components/menus/vertical_menu.pug
@description: menuサンプル
@tags: component,menu
*/

/*
@title: Horizontal Menu
@pug: components/menus/horizontal_menu.pug
@description: menuサンプル
@tags: component,menu
*/

/*
@title: Selected And Disabled Items
@pug: components/menus/selected_and_disabled_items.pug
@description: menuサンプル
@tags: component,menu
*/

/*
@title: Dropdowns
@pug: components/menus/dropdowns.pug
@description: menuサンプル
@tags: component,menu
*/

/*
@title: Vertical Menu With Submenus
@pug: components/menus/vertical_menu_with_submenus.pug
@description: menuサンプル
@tags: component,menu
*/

/*
@title: Scrollable Horizontal Menu
@pug: components/menus/scrollable_horizontal_menu.pug
@description: menuサンプル
@tags: component,menu
*/

/*
@title: Scrollable Vertical Menu
@pug: components/menus/scrollable_vertical_menu.pug
@description: menuサンプル
@tags: component,menu
*/