/*
@title: Default Table
@pug: components/tables/default_table.pug
@description: tableサンプル
@tags: component,table
*/

/*
@title: Bordered Table
@pug: components/tables/bordered_table.pug
@description: tableサンプル
@tags: component,table
*/

/*
@title: Table with Horizontal Borders
@pug: components/tables/table_with_horizontal_borders.pug
@description: tableサンプル
@tags: component,table
*/

/*
@title: Striped Table
@pug: components/tables/striped_table.pug
@description: tableサンプル
@tags: component,table
*/